* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(241, 239, 239);
}
.barra_lateral{
    width: 60px;
    height: 120%;
    background-color: rgb(24, 56, 17);
    color: white;
    position: absolute;
    top: 0;
    left:0;
    text-align: center;
}  
.fa-house{
    font-size: 30px;
    color: #057c55;
}
.fa-twitter{
    padding-top: 320px;  /* "Acomodarlos" */
    font-size: 30px;
    color: #057c55;
}
.fa-facebook-f{
    font-size: 30px;
    color: #057c55;
}
.fa-instagram{
    font-size: 30px;
    color: #057c55;
}
.fa-youtube{
    font-size: 30px;
    color: #057c55;
}
.icono{
    display: inline-block;
    margin:30px 0;
}
.cont1{
    margin-left: 60px;
}
.esp{
    height: 60px;
    padding: 20px;
}
.nav {
    display: inline-block;
}
.nav h1{
    display: inline;
    font-weight: bold;
    margin-right: 50px;
}
.fa-phone{
    font-size: 25px;
    color: #057c55;
}
.telefono{
    display: inline;
    color: #057c55;
    font-weight: bold;
    font-size: 30px;
}
.dos{
    padding: 30px;
} 
.left, .datos{
    display: inline-block;
    width: 49%;
}
.left{
    /* color: rgb(236, 61, 61); */

    /* width: 48%; */
    height: 600px;
    background-image: url('images-dentist.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* position: relative; */
}
.relleno{
    padding: 5px;
    border-radius: 1px;
    margin-top: 10px;
}
.relleno h1{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 50px;
    color: white;
}
.relleno >h2{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color:#057c55;
}
.relleno p{
    /* margin-bottom: 10px; */
    margin-left: 15px;
    font-size: 30px;
    color: white;
}
button{
    padding: 8px 30px;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 48%;
    border: none;
    background-color: #057c55;
}
.bton2{
    margin-left: 40px;
    background-color: rgba(21, 111, 189, 0.027);
    border: 3px solid #057c55;
    color: #057c55;
}
.datos{
    background-color: rgba(255, 255, 255, 0.774);
    padding: 30px;
    border: none;
    border-radius: 1px;
}
.datos h1{
    color: #057c55;
    margin-bottom: 20px;
}
.llenar{
    margin-bottom: 8px;
}
input{
    width: 100%; /* Con este podemos hacer para que quede mas corto lo de llenar */
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(240, 237, 237);
    color: rgb(20, 20, 20);
}
.submit-btn{
    padding: 8px 10px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}
.fa-play{
    font-size: 25px;
    color: #057c55;
}